*{
	margin: 0px;
	padding: 0px;

}
*:focus {
    outline: none;
}

/*FOR SHOWING PORTRAIT MSG*/
#portrait_bell{
	display: none;
}
#portrait_text{
	display: none;
}
@media only screen and (orientation:portrait){
    .main { display:none; }
    #portrait_bell{ display:block; }
    #portrait_text{ display:block; }
    html{background-color: #1b1b1b;}
}
@media only screen and (orientation:landscape){
	.main { display:block; }
    #portrait_bell{ display:none; }
    #portrait_text{ display:none; }
}



nav,footer,section{
	display: block;
}
body{
	width: 100%;
	display: -webkit-box;
	
	background-color: #E0E0E0;
}


#parent_div{
	
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;


}
#cssmenu{
	width: 100%;
	
}
#main_body{

}
#floor_div{
	position: relative;
}
#play_floor{
	width: 100%;
	position: relative;
	top: 0%;
	left: 0%;
	/*opacity: 0;*/
	/*padding-left: 2%; 
	padding-top: 4%;
	padding-right: 2%;
	padding-bottom: 5%;*/
}
#card_suit{
	position: absolute;
	top: 0%;               
	left:  41.0156%;   
	width: 8%;


}
#card_single{
	position: absolute;
	top: 43%; 
	left:  41.5%;
	opacity: 0;
	width: 7.2%;
}
#player1_card_single{
	position: absolute;
	top: 39%; 
	left:  41.5%;
	opacity: 0;
	/*top: 18%;       
	left:  24%;
	opacity: 1;
	top: 32%;       
	left:  34%;
	opacity: 1;*/
	width: 7.2%;
}
#player1_fixed_card{
	position: absolute;
	top: 18%;       
	left:  24%;
	opacity: 0;
	width: 7.2%;
}
#player2_card_single{
	position: absolute;
	top: 39%; 
	left:  41.5%;
	opacity: 0;
	/*top: 18%;       
	left:  59%;   
	opacity: 1;
	top: 32%;       
	left:  50%;   
	opacity: 1;*/
	width: 7.2%;
}
#player2_fixed_card{
	position: absolute;
	top: 18%;       
	left:  59%;   
	opacity: 0;
	width: 7.2%;
}
#player3_card_single{
	position: absolute;
	top: 39%; 
	left:  41.5%;
	opacity: 0;
	/*top: 60%;       
	left:  24%;   
	opacity: 1;
	top: 49%;       
	left:  34%;
	opacity: 1;*/
	width: 7.2%;
}
#player3_fixed_card{
	position: absolute;
	top: 60%;       
	left:  24%;   
	opacity: 0;
	width: 7.2%;
}
#player4_card_single{
	position: absolute;
	top: 39%; 
	left:  41.5%;
	opacity: 0;
	/*top: 60%;       
	left:  59%;   
	opacity: 1;
	top: 49%;       
	left:  50%;   
	opacity: 1;*/
	width: 7.2%;
}
#player4_fixed_card{
	position: absolute;
	top: 60%;       
	left:  59%;   
	opacity: 0;
	width: 7.2%;
}
.cards{
	position: absolute;
	top: 60%;       
	left:  24%;   
	opacity: 0;
	width: 7.2%;
}
#call_background{
	position: absolute;
	top: 30%;       
	left:  25%;   
	/*opacity: 0.9;*/
	opacity: 0;
	width: 40%;
}
.call_token{
	position: absolute;
	opacity: 0;
	width: 5.5%;


}

#player1_call_bubble, #player2_call_bubble, 
	#player3_call_bubble, #player4_call_bubble{
		opacity: 0;
	}


::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


#player1_chat_bubble{
	top: 2%;
	left: -16%;
	position: absolute;
	/*-webkit-transition: all 6s ease-in-out;*/
	-webkit-transform: scale(0);
	height: 65%;
	display: none;
}

#player2_chat_bubble{
	top: 42%;
	left: -16%;
	position: absolute;
	/*-webkit-transition: all 6s ease-in-out;*/
	-webkit-transform: scale(0);
	height: 65%;
	display: none;
}

#player3_chat_bubble{
	top: 42%;
	left: 56%;
	position: absolute;
	/*-webkit-transition: all 6s ease-in-out;*/
	-webkit-transform: scale(0);
	height: 65%;
	display: none;
}


#player4_chat_bubble{
	top: 2%;
	left: 56%;
	position: absolute;
	/*-webkit-transition: all 6s ease-in-out;*/
	-webkit-transform: scale(0);
	height: 65%;
	display: none;
}

